* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(160, 157, 157, 0.695);
}

.navbar {
    background-color: rgb(221, 220, 220);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.nav_logo {
    width: 70px;
}
.logo {
    width: 100%;
    mix-blend-mode: color-burn;
}
 .nav_list {
    /* visibility: hidden; */
    display: none;
 }
 .search_box {
    width: 70px;
    padding: 10px 2px;
    border-radius: 25px;
    border-style: none;
    opacity: .7;
    outline: 0px;
}
.list_items li:hover {
    cursor: pointer;
    color: rgb(131, 121, 121);

}
.logo:hover {
    cursor: pointer;
    opacity: .7;
}
.search_box:hover {
    opacity: 1;
    
}



@media (min-width:768px) {
    .nav_list {
        display: block;
    }
    .list_items li{
        margin: 7px;
    }
    

}
@media (min-width:1024px) {       
    .list_items {
        display: flex;
        gap: 15px;
    }
    .search_box {
        width: 80%;
    }
    
}
@media (min-width:1280px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 15px;
    }
    .list_items {
        display: flex;
        gap: 40px;
    }
    .search_box {
        width: 100%;
    }
    
}