
body {
    padding:0;
    margin:0;
    background-color:rgba(160, 157, 157, 0.695);
}

.navStyle {
    width: 100%;
    background-color:rgb(221, 220, 220);
    height: 59px;
    display: flex;
    justify-content: center;   
    align-items:center;
    flex-wrap: wrap;
    /* text-shadow:1px 1px 2px black; */

}

.searchBox {
    position:absolute;
    right: 0;
    margin-right: 20px;
}
.navStyle ul{
    display: flex;
    gap: 40px;

}
.navStyle ul li {
    cursor:pointer;
}
.navStyle ul li:hover {
    color:rgb(131, 121, 121);
}
.logo {
    width:fit-content;
    position: absolute;
    left:0;
    padding:20px;
    margin-left: 15px;
    cursor: pointer;
}
.logo img {
    width: 50px;
    height: 50px;
    mix-blend-mode: color-burn;
    object-fit: contain;
}.logo img:hover {
    opacity: .6;
}
.searchBox input {
    border-radius: 50px;
    height: 30px; 
    border-style: none;
    opacity: .8;
}

.searchBox input:hover {
    opacity: 1;
    background-color: lightgray;
}

.greetings {
    width: 80%;
    height: 150px;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800px;
    font-size: xx-large ;
}

.imageContainer {
    width: 80%;
    height: 700px;
    margin: auto;
    /* margin-top: 2px; */
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x:scroll;
}

.linkCards a img {
    width: 500px;
    margin:auto;
    display: flex;
    justify-content: center;
    padding: 5px;
    aspect-ratio: 5/2;  


}
.hey {
    width:80%;
    margin: auto;
    height: 500px;
    background-color:rgba(255, 255, 255, 0.75) ;
    margin-top: 10px;
    text-align: center;
}
